@model Booker.ViewModels.EtudiantLivresViewModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Etudiant.Prenom @Model.Etudiant.Name</h2>


@if (Model.Livres.Count() > 0)
{
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Emprunt de livre</th>
                <th>Auteur</th>
                <th>Année publication</th>
                <th>Nombre en stock</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var livre in Model.Livres)
            {
                <tr>
                    <td>@Html.ActionLink((String)livre.Titre, "Details", "Livres", new { id = livre.Id }, null)</td>
                    <td>@livre.Auteur</td>
                    <td>@livre.AnneePublication</td>
                    <td>@livre.NombreEnStock</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    @Model.Etudiant.Name; <body>
        pas de livre emprunté en ce moment
    </body>
    <br />
    <br />
}

@using (Html.BeginForm("Edit/" + Model.Etudiant.Id, "Etudiants"))
{
    <button type="submit" class="btn btn-primary">Modifier</button>
}

<br />

@using (Html.BeginForm("Browse/" + Model.Etudiant.Id, "Etudiants"))
{
    <button type="submit" class="btn btn-primary">Réserver</button>
}

<br />

<a class="btn btn-primary" href="~/Etudiants/Index" role="button">retourner</a>